@import "./mobile.scss";
.accountinfo_top{
	width: 100%;
}

.accountinfo_body{
	width: 100%;
}

.accountinfo_left{
  float: left;
	width: 20%;
}

.accountinfo_right{
	float: left;
	width:80%;
}

.accountinfo_botton{  
}
