@import "./mobile.scss";

.accountinfo_container{
	height: 100%;
	.accountinfo_interface{
		border:1px solid #d0d0d0;
		border-radius: 2px;
		height: auto;
		margin:5% 20% 0% 20%;
		.accountinfo_title{
			margin-left: 2%;
			margin-right: 2%;
			font-weight: bold;
			font-size: 12px;
		}
		.accountinfo_setting{
			height: auto;
			overflow:hidden;
	    .setting_left{
				float: left;
				margin-left: 2%;
				width: 27%;
					.input_accountinfo{
						line-height: 40px;
						width: 90%;
						border:1px solid #bdbdbd;
						border-radius: 2px;
				}
				.accountinfo_effectivemenu{
					.menu_container{
						.menu_title{
							width: 90%;
							background-color: #e9e9e9;
							font-size: 12px;
							font-weight:bold;
						}
						.menu_option{
							.input_menuoption{
								float: left;
								width: 50%;
							}
						}
					}
				}
			}
				.accountinfo_areacontainer{
					margin-left: 2%;
					border: 1px solid #bdbdbd;
					border-radius: 2px;
					float:left;
					width: 67%;
					.visablearea_title{
						background-color: #e9e9e9;
						font-size: 12px;
						font-weight:bold;
					}

				}

		}

	}
}
