@import "./mobile.scss";
.accountinfo_container {
    width: 80%;
    margin: P(78) auto;
    height: auto;
    .accountinfo_interface {
        border: 1px solid #bdbdbd;
        border-radius: 2px;
        height: 100%;
        box-sizing: border-box;
        padding: 0 P(24);
        .accountinfo_title {
            font-weight: bold;
            font-size: P(16);
            line-height: P(54);
            border-bottom: 1px solid #e1e1e1;
        }
        .accountinfo_setting {
            margin-top: P(30);
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            i {
                color: #1b3867;
            }
            .setting_left {
                width: 27%;
                height: auto;
                .accountinfo {
                    border-bottom: 1px solid #e1e1e1;
                    .input_accountinfo {
                        line-height: P(38);
                        width: 90%;
                        border: 1px solid #bdbdbd;
                        border-radius: 2px;
                        box-sizing: border-box;
                        padding-left: P(10);
                        margin: 13px 0;
                    }
                }
                .accountinfo_username {
                    .input_accountinfo {
                        margin-top: 0
                    }
                }
                .accountinfo_effectivemenu {
                    margin-top: 13px;
                    .menu_container {
                        width: 90%;
                        display: inline-block;
                        border: 1px solid #bdbdbd;
                        border-radius: 2px;
                        .menu_title {
                            width: 100%;
                            background-color: #e9e9e9;
                            font-size: P(14);
                            font-weight: bold;
                            line-height: 38px;
                            box-sizing: border-box;
                            padding-left: 10px;
                        }
                        .menu_option {
                            .input_menuoption {
                                float: left;
                                width: 50%;
                                box-sizing: border-box;
                                padding-left: 10px;
                            }
                            .input_menuoption:nth-child(7) {
                                width: 100%;
                            }
                            .input_menuoption:nth-child(8) {
                                width: 100%;
                            }
                            label {
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
            .accountinfo_areacontainer {
                border: 1px solid #bdbdbd;
                border-radius: 2px;
                width: 65%;
                height: auto;
                font-size: P(14);
                .visablearea_title {
                    background-color: #e9e9e9;
                    line-height: 38px;
                    box-sizing: border-box;
                    padding-left: P(54);
                    span {
                        font-weight: bold;
                        display: inline-block;
                        .icon-Viewing-area {
                            padding-right: 2px;
                        }
                    }
                }
                .visablearea_tree {
                    overflow: auto;
                    width: 100%;
                    padding-left: P(54);
                }
            }
        }
        .accountinfo_button {
            margin-top: P(20);
            margin-bottom: P(35);
            color: #fff;
            .button {
                line-height: P(28);
                text-align: center;
                display: inline-block;
                border-radius: P(14);
                width: P(104);
            }
            .button_confirm {
                background: #1b3867;
            }
            .button_cancel {
                background: #c2c2c2;
                margin-left: P(18)
            }
        }
    }
}