	@import "./mobile.scss";
	.area_container {
	    width: 100%;
	    height: 100%;
	    display: flex;
	    justify-content: space-between;
	    .area_nav {
	        width: 20%;
	        background: #f2f2f2;
	        box-sizing: border-box;
	        padding: 0 P(46);
	        display: flex;
	        flex-direction: column;
	        .nav_header {
	            margin-top: P(32);
	            border-bottom: 1px solid #dde4e8;
	            .header_title {
	                display: inline-block;
	                line-height: P(32);
	                font-size: P(16);
	                box-sizing: border-box;
	                padding-left: 2px;
	            }
	        }
	        .nav_body {
	            height: 90%;
	            overflow-y: auto;
	            #area_tree {
	                margin-top: P(8);
	                padding: 2px;
	            }
	        }
	        .ztree li a.curSelectedNode {
	            background-color: #dde4e8;
	        }
	    }
	    .area_content {
	        width: 75%;
	        .area_box {
	            margin-top: P(64);
	            width: 95%;
	            height: 85%;
	            border: 1px solid #bdbdbd;
	            border-radius: 2px;
	            position: relative;
	            .area_top {
	                width: 100%;
	                height: auto;
	                box-sizing: border-box;
	                .area_title {
	                    line-height: P(66);
	                    font-size: P(14);
	                    padding-left: P(46);
	                }
	                .area_setting {
	                    position: relative;
	                    background: #f2f2f2;
	                    padding-left: P(46);
	                    line-height: P(100);
	                    .area_set {
	                        height: 100%;
	                        float: left;
	                        width: 20%;
	                        box-sizing: border-box;
	                        font-size: P(14);
	                    }
	                    .area_button {
	                        line-height: P(28);
	                        position: absolute;
	                        bottom: P(50);
	                        right: P(250);
	                        color: #fff;
	                        text-align: center;
	                        .button_confirm {
	                            border-radius: P(14);
	                            width: P(104);
	                            display: block;
	                            background: #1b3867;
	                        }
	                    }
	                }
	            }
	        }
	    }
	}