	@import "./mobile.scss";
	.area_container {
	    width: 100%;
	    height: 100%;
	    display: flex;
	    justify-content: space-between;
	    .area_nav {
	        width: 20%;
	        background: #f2f2f2;
	        box-sizing: border-box;
	        padding: 0 P(35);
	        display: flex;
	        flex-direction: column;
	        .nav_header {
	            margin-top: P(32);
	            border-bottom: 1px solid #dde4e8;
	            .header_title {
	                display: inline-block;
	                line-height: P(32);
	                font-size: P(16);
	                box-sizing: border-box;
	                padding-left: 2px;
	            }
	        }
	        .nav_body {
	            height: 90%;
	            overflow-y: auto;
	            #area_tree {
	                margin-top: P(8);
	                padding: 2px;
	            }
	        }
	        .ztree li a.curSelectedNode {
	            background-color: #dde4e8;
	        }
	    }
	    .area_content {
	        width: 75%;
	        .area_box {
	            margin-top: P(64);
	            width: 95%;
	            height: 85%;
	            border: 1px solid #bdbdbd;
	            border-radius: 2px;
	            display: flex;
	            flex-direction: column;
	            .area_top {
	                width: 100%;
	                box-sizing: border-box;
	                border-bottom: 1px solid #bdbdbd;
	                .area_title {
	                    line-height: P(84);
	                    font-size: P(16);
	                    padding-left: P(48);
	                    .area_tit {
	                        padding-right: P(85);
	                        float: left;
	                    }
	                    .area_set {
	                        display: inline-block;
	                        padding-right: 5%;
	                    }
	                    .area_set:nth-child(4) {
	                        padding-right: 0;
	                    }
	                    .area_button {
	                        margin: 0 P(48) 0 0;
	                        float: right;
	                    }
	                }
	            }
	            .area_top:last-child {
	                flex: 1;
	                border-bottom: 0;
	                div.target.product {
	                    width: 100%;
	                    height: 100%;
	                    .target_box {
	                        width: 100%;
	                        height: 100%;
	                        display: flex;
	                        flex-direction: column;
	                        .product_title {
	                            line-height: P(66);
	                            font-size: P(16);
	                            padding-left: P(48);
	                            .project_add {
	                                padding-left: P(16);
	                                color: #5b7ba6;
	                                cursor: pointer;
	                                font-size: P(16);
	                            }
	                        }
	                        .target_top {
	                            overflow-y: auto;
	                            height: 200px;
	                            flex: 1;
	                            .product_set {
	                                height: P(70);
	                                .product_con {
	                                    width: 70%;
																			.ivu-input {
																				transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
																			},
																			.ivu-input[disabled], fieldset[disabled] .ivu-input {
																				background-color: #fff;
																				color: #495060;
																				cursor: text;
																			}
																			.ivu-icon-arrow-down-b:before {
																				display: none;
																			}
	                                }
	                            }
	                            li.target_set.product_set {
																  padding: 0;
																	// margin-right: P(39);
	                                font-size: P(16);
																	// width: P(270);
	                                .seconds {
	                                    color: #b0b0b0;
	                                }
																	.completeBtn {
																		background-color: #E1E1E1;
																		border-radius: P(10);
																		width: P(60);
																		line-height: P(24);
																		text-align: center;
																		display: inline-block;
																	}
	                                .icon-edit, .icon-delete_2 {
	                                    color: #b0b0b0;
																			line-height: P(70);
																			display: inline-block;
	                                }
																	// .icon-delete_2 {
																	// 	margin-left: P(50);
																	// }
	                            }
															.target_set:last-child{
																display: inline-block;
																// text-align: right;
																float: right;
															}
	                        }
	                    }
	                }
	            }
	        }
	    }
	}
