@import "./mobile.scss";

.datainput {
  height: 100%;
  width: 100%;
  overflow: auto;

  .tableContainer {
    box-sizing: border-box;
    padding-left: 2%;
    padding-top: 2%;
    height: 98%;
    width: 48%;

    .table th {
      text-align: center;
    }

    .table > tbody > tr > td {
      vertical-align: middle;
    }
  }

  // .hidechoose {
  // }
  // .showchoose {
  //   overflow: auto;
  //   width: 50%;
  //   height: 100%;
  //   // position: absolute;
  //   // right: 0;
  //   // top: 0;
  //   background: #eeeeee;
  //   display: flex;
  //   flex-direction: column;
  //   animation: show 0.5s;
  //   padding-top: P(100);
  //   padding-left: 2%;
  //   .box {
  //     box-sizing: border-box;
  //     float: left;
  //     width: 48%;
  //   }
  // }
}
