@import "./mobile.scss";
.dictionary {
    margin: P(40) auto;
    height: 90%;
    width: 90%;
    margin-bottom: 0;
    .dictionary_box {
        height: 100%;
        float: left;
        .title {
            background: #e0e4e7;
            line-height: P(32);
            text-align: center;
            font-size: P(14);
            color: #040404;
        }
        .dictionary_content {
            height: 90%;
            overflow-y: scroll;
        }
    }
    .kpiContainer {
        width: 25%;
        .kpiContent {
            border-left: P(1) solid #747474;
            border-bottom: P(1) solid #747474
        }
    }
    .categoryContainer {
        width: 40%;
        .categoryContent {
            border-bottom: P(1) solid #747474;
        }
    }
    .savingDictionaryContainer {
        width: 35%;
        .savingDictionaryContent {
            border-right: P(1) solid #747474;
            border-bottom: P(1) solid #747474;
        }
    }
}