@import "./mobile.scss";

.dictionary{
	height: 100%;
	width: 100%;
	.title{
		background: #e4e7e9;
		height: P(35);
		text-align: center;
		padding-top: P(10);
		font-family: "Arial";
		font-size: P(14);
	}
	.kpiContainer{
		width: 20%;
		height: 100%;
		float: left;
		.kpiContent{
			height: 95%;
			overflow:auto;
			border-left: P(1) solid black;
			border-bottom: P(1) solid black;
		}
	}
	.categoryContainer{
		width: 40%;
		height: 100%;
		float: left;
		.categoryContent{
      overflow: auto;
			height: 95%;
			border-bottom: P(1) solid black;
		}
	}
	.savingDictionaryContainer{
		width: 40%;
		height: 100%;
		float: left;
		.savingDictionaryContent{
			overflow: auto;
			height: 95%;
			border-right: P(1) solid black;
			border-bottom: P(1) solid black;
		}
	}
}
