@import "./mobile.scss";
.improvement {
    .improve_content {
        display: flex;
        flex-direction: column;
        .summary_top {
            line-height: P(56);
            border-bottom: 1px solid #bdbdbd;
            a {
                font-size: P(14);
                display: inline-block;
                line-height: P(30);
                width: P(80);
                text-align: center;
                margin-left: P(28);
                background: #e1e1e1;
                border-radius: P(4);
                cursor: pointer;
            }
            .router-link-active {
                background: #164380;
                color: #fff;
            }
        }
        .project {
            width: 100%;
            flex: 1;
            overflow: hidden;
            .project_item {
                float: left;
                display: flex;
                height: 100%;
                border-right: 1px solid #bdbdbd;
                flex-direction: column;
                .pro_title {
                    display: block;
                    line-height: P(52);
                    padding-left: P(28);
                    font-size: P(16);
                    border-bottom: 1px solid #bdbdbd;
                    .project_add {
                        padding-left: P(26);
                        color: #5b7ba6;
                        cursor: pointer;
                        font-size: P(18);
                    }
                }
            }
            .project_now {
                width: 42%;
                .pro_item {
                    width: 100%;
                    flex: 1;
                    .table {
                        margin-bottom: 0;
                        .fixedThead {
                            tr>td {
                                border-right: 1px solid #bdbdbd
                            }
                            .edit {
                                border-right: 0;
                            }
                        }
                        .scrollTbody {
                            tr>td {
                                border-left: 0;
                                // border-right: 0;
                            }
                            .icon-edit {
                                border-right: 1px solid #bdbdbd;
                                border-left: 1px solid #bdbdbd;
                            }
                            .icon-delete_2 {
                                border-right: 0;
                            }
                            .text-muted {
                                border-right: 0;
                            }
                        }
                    }
                }
            }
            .project_detail {
                width: 28%;
                .pro_itemdetail {
                    width: 100%;
                    flex: 1;
                    position: relative;
                    box-sizing: border-box;
                    padding: P(16) P(46) 0 P(46);
                    .item_det {
                        width: 100%;
                        font-size: P(14);
                        .item_li {
                            padding-left: P(2);
                            width: 100%;
                            line-height: P(50);
                            border-bottom: 1px solid #bdbdbd;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .item_title {
                                width: 50%;
                                display: inline-block;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                            .item_detail {
                                width: 50%;
                                text-align: right;
                                border: none;
                                .ivu-input-icon-normal+.ivu-input {
                                    padding-right: 1px
                                }
                                .ivu-input-number-input {
                                    text-align: right;
                                }
                                .ivu-input-number-handler-wrap {
                                    display: none;
                                }
                            }
                        }
                        .item_li:last-child {
                            border-bottom: none;
                        }
                    }
                    .area_button {
                        position: absolute;
                        bottom: P(30);
                        right: P(40);
                    }
                }
            }
            .project_change {
                width: 30%;
                border-right: 0;
                .pro_itemdetail {
                    overflow-y: auto;
                    box-sizing: border-box;
                    padding: 2% 4% 0 6%;
                    .item_det {
                        margin: P(26) 0;
                        .item_status {
                            float: left;
                        }
                        .item_time {
                            color: #bdbdbd;
                            float: right
                        }
                    }
                }
            }
        }
    }
}