@import "./mobile";
p {
    padding: 0;
    margin: 0;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    font-family: $yh;
}

.bom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: P(98);
    line-height: P(98);
    background: #f45633;
    z-index: 10;
    border-top: 1px solid #b2b2b2;
    text-align: center;
    font-size: P(30);
    color: #fff;
}

.main-container {
    width: 100%;
    height: 100%;
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        #top {
            top: 0;
            left: 0;
            z-index: 10;
            background: #122b54;
        }
        .main-content {
            flex: 1;
            width: 100%;
            margin: 0 auto;
            height: 90%;
        }
    }
}

input[type='checkbox'] {
    display: none;
}

input[type='radio'] {
    display: none;
}

.uncheck+label {
    box-sizing: border-box;
    background: url("./assets/images/selected.png") no-repeat center;
    padding: 7px;
    display: inline-block;
    position: relative;
}

.check+label {
    box-sizing: border-box;
    background: url("./assets/images/unselected.png") no-repeat center;
    padding: 7px;
    display: inline-block;
    position: relative;
}

label {
    margin: 0;
}

.checkone+label {
    color: #131313;
    box-sizing: border-box;
    background: url("./assets/images/unselected.png") no-repeat left center;
    padding: 8px 7px;
    display: inline-block;
    position: relative;
}

.checkone:checked+label {
    box-sizing: border-box;
    background: url("./assets/images/selected.png") no-repeat left center;
    padding: 8px 7px;
    display: inline-block;
    position: relative;
}

.mycheck+label {
    color: #131313;
    box-sizing: border-box;
    background: url("./assets/images/unselected.png") no-repeat left center;
    padding: 8px 18px;
    display: inline-block;
    position: relative;
}

.mycheck:checked+label {
    box-sizing: border-box;
    background: url("./assets/images/selected.png") no-repeat left center;
    padding: 8px 18px;
    display: inline-block;
    position: relative;
}

.myradio+label {
    width: 40%;
    font-size: 12px;
    box-sizing: border-box;
    background: url("./assets/images/unchecked.png") no-repeat left center;
    padding: 8px 18px;
    display: inline-block;
    margin: P(10) 0;
    position: relative;
}

.myradio+label:last-child {
    margin-left: P(10)
}

.myradio:checked+label {
    box-sizing: border-box;
    background: url("./assets/images/checked.png") no-repeat left center;
    padding: 8px 18px;
    display: inline-block;
    position: relative;
}

.arearadio+label {
    width: 40%;
    font-size: 12px;
    box-sizing: border-box;
    background: url("./assets/images/unselected_line.png") no-repeat left center;
    padding: 8px 18px;
    display: inline-block;
    margin: P(10) 0;
    position: relative;
}

.arearadio+label:last-child {
    margin-left: P(10)
}

.arearadio:checked+label {
    box-sizing: border-box;
    background: url("./assets/images/selected_line.png") no-repeat left center;
    padding: 8px 18px;
    display: inline-block;
    position: relative;
}

.table {
    color: #040404;
}

.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered {
    border: 1px solid #9ba3a9;
}

.table-bordered>thead>tr>td {
    border-bottom: 0
}

.table>tbody>tr>td,
.table>thead>tr>td {
    vertical-align: middle;
}

.table-hover>tbody>tr:hover {
    background-color: #ecf0f1
}

.table-hover>tbody>tr>.icon-edit:hover {
    color: #3498db;
    cursor: pointer;
}

.table-hover>tbody>tr>.icon-delete_2:hover {
    color: #ff9c00;
    cursor: pointer;
}