@import "./mobile";

p {
  padding: 0;
  margin: 0;
}

#app,
body,
html {
  width: 100%;
  height: 100%;
  font-family: $yh;
}

.main-container {
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    #top {
      top: 0;
      left: 0;
      z-index: 10;
      background: #122b54;
    }

    .main-content {
      flex: 1;
      width: 100%;
      margin: 0 auto;
      height: 90%;
    }
  }
}

input[type='checkbox'] {
  display: none;
}

input[type='radio'] {
  display: none;
}

.uncheck+label {
  box-sizing: border-box;
  background: url("./assets/images/selected.png") no-repeat center;
  padding: 7px;
  display: inline-block;
  position: relative;
}

.check+label {
  box-sizing: border-box;
  background: url("./assets/images/unselected.png") no-repeat center;
  padding: 7px;
  display: inline-block;
  position: relative;
}

label {
  margin: 0;
  cursor: pointer;
}

.checkone+label,
.mycheck+label {
  color: #131313;
  box-sizing: border-box;
  background: url("./assets/images/unselected.png") no-repeat left center;
  padding: 8px 7px;
  display: inline-block;
  position: relative;
}

.checkone:checked+label,
.mycheck:checked+label {
  box-sizing: border-box;
  background: url("./assets/images/selected.png") no-repeat left center;
  padding: 8px 7px;
  display: inline-block;
  position: relative;
}

.mycheck+label {
  padding: 8px 18px;
}

.mycheck:checked+label {
  padding: 8px 18px;
}

.arearadio+label,
.myradio+label {
  width: 40%;
  font-size: 12px;
  box-sizing: border-box;
  background: url("./assets/images/unselected_line.png") no-repeat left center;
  padding: 8px 18px;
  display: inline-block;
  margin: P(10) 0;
  position: relative;
}

.myradio+label:last-child {
  margin-left: P(10);
}

.arearadio:checked+label,
.myradio:checked+label {
  box-sizing: border-box;
  background: url("./assets/images/selected_line.png") no-repeat left center;
  padding: 8px 18px;
  display: inline-block;
  position: relative;
}

.arearadio+label {
  width: auto;
  font-size: P(16);
  padding: 0 18px;
  margin: 0;
}

.arearadio:checked+label {
  padding: 0 18px;
}

.table {
  color: #040404;
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > td {
  border: 1px solid #bdbdbd;
}

.table-bordered > thead > tr > td {
  border-bottom: 0;
}

.table > tbody > tr > td,
.table > thead > tr > td {
  vertical-align: middle;
}

.table-hover > tbody > tr:hover {
  background-color: #ecf0f1;
}

.table-hover > tbody > tr > .icon-edit:hover {
  color: #3498db;
  cursor: pointer;
}

.table-hover > tbody > tr > .icon-delete_2:hover {
  color: #ff9c00;
  cursor: pointer;
}

.ivu-select-item:hover {
  background: #ecf0f1;
}

.ivu-select-item-selected,
.ivu-select-item-selected:hover {
  background: rgba(45, 140, 240, .9);
}

.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ivu-modal {
    top: 0;

    .ivu-modal-content {
      .ivu-modal-header {
        border-bottom: 0;
        padding: P(30) P(45) 0;

        .ivu-modal-header-inner {
          font-size: P(20);
          font-weight: 100;
          color: #040404;
        }
      }

      .ivu-modal-body {
        padding: P(14) P(45) 0;

        .table > tbody > tr > td {
          cursor: pointer;
        }

        .pro_active {
          color: #bdbdbd;
          // background-color: #1b3867;
        }

        .pro_active:hover {
          cursor: not-allowed;
          background-color: #fff;
        }

        .table {
          margin-bottom: 0;
        }

        .table > tbody+tbody {
          border: 0;
        }
      }

      .ivu-modal-footer {
        border-top: 0;
        padding: P(28) P(45);

        .ivu-btn-large {
          font-size: P(14);
          padding: P(5) P(35);
          border-radius: P(20);
        }

        .ivu-btn-text {
          color: #fff;
          background-color: #c2c2c2;
        }

        .ivu-btn-primary {
          background-color: #1b3867;
          border-color: #1b3867;
        }
      }
    }
  }
}

.area_button {
  color: #fff;

  .button {
    line-height: P(28);
    text-align: center;
    display: inline-block;
    border-radius: P(14);
    width: P(104);
    cursor: pointer;
  }

  .button_confirm {
    border-radius: P(14);
    width: P(104);
    background: #1b3867;
  }

  .button_cancel {
    background: #c2c2c2;
    margin-left: P(18);
  }
}

.product-vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ivu-modal {
    top: 0;

    .ivu-modal-content {
      padding: P(46) P(40) 0 P(46);

      .ivu-modal-body {
        padding: 0 0 P(250);

        .editProductInfoNameContainer {
          font-size: P(14);
          color: #040404;
          padding-bottom: P(20);
          margin-bottom: P(30);
          border-bottom: 1px solid #BDBDBD;
        }

        .dropdownProduct {
          font-size: P(14);
          width: P(218);
          height: P(30);
          margin-bottom: P(46);

          .ivu-select-selection {
            background: #E1E1E1;
            font-size: P(14);
            color: #040404;
          }
        }

        .productInfoSetting {
          font-size: 0;
          padding-bottom: P(46);

          span {
            display: inline-block;
            font-size: P(12);
            color: #040404;
            text-align: center;
            vertical-align: middle;
          }

          .ivu-input-number {
            width: 104px;
          }

          .cycleTitle {
            margin-left: P(31);
          }
        }
      }

      .ivu-modal-footer {
        border-top: 0;
        padding-right: 0;

        .ivu-btn-large {
          font-size: P(14);
          padding: P(5) P(35);
          border-radius: P(20);
        }

        .ivu-btn-text {
          color: #fff;
          background-color: #c2c2c2;
        }

        .ivu-btn-primary {
          background-color: #1b3867;
          border-color: #1b3867;
        }
      }
    }
  }
}

.loss-vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ivu-modal {
    top: 0;

    .ivu-modal-content {
      padding: P(46) P(40) 0 P(46);

      .ivu-modal-body {
        padding: 0 0 P(250);

        .editLossDir {
          padding-bottom: P(22);
          margin-bottom: P(30);
          border-bottom: 1px solid #BDBDBD;

          span:nth-child(3) {
            margin-left: P(112);
          }
        }

        .dropdownTier {
          width: P(209);
          height: P(30);
          margin-bottom: P(46);

          .ivu-select-selection {
            background: #E1E1E1;
            font-size: P(14);
            color: #040404;
          }
        }

        .dropdownTier:first-child {
          margin-right: P(16);
        }

        .ivu-date-picker {
          width: P(343);
          height: P(42);
        }

        .durationTimeContainer {
          margin-top: P(54);
          margin-bottom: P(54);
        }

        .timeTitle {
          color: #040404;
          margin-right: P(13);
        }
      }

      .ivu-modal-footer {
        border-top: 0;
        padding-right: 0;

        .ivu-btn-large {
          font-size: P(14);
          padding: P(5) P(35);
          border-radius: P(20);
        }

        .ivu-btn-text {
          color: #fff;
          background-color: #c2c2c2;
        }

        .ivu-btn-primary {
          background-color: #1b3867;
          border-color: #1b3867;
        }
      }
    }
  }
}

.producableProducts-vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ivu-modal {
    top: 0;
    .ivu-modal-content {
      padding: P(46) P(40) 0 P(46);

      .ivu-modal-body {
        padding: 0 0 P(200);

        font-size: P(14);
        color: #040404;
        .producableProductTitle {
          padding-bottom: P(14);
          display: inline-block;
        }
        .productSelectionContainer {
          padding-top: P(30);
          padding-bottom: P(30);
          border-top: 1px solid #BDBDBD;
          .ivu-cascader {
            width: P(356);
            display: inline-block;
          }
        }
        .ctContainer {
          margin-left: P(42);
          .ivu-input-number {
            width: P(356);
          }
        }
      }

      .ivu-modal-footer {
        border-top: 0;
        padding-right: 0;

        .ivu-btn-large {
          font-size: P(14);
          padding: P(5) P(35);
          border-radius: P(20);
        }

        .ivu-btn-text {
          color: #fff;
          background-color: #c2c2c2;
        }

        .ivu-btn-primary {
          background-color: #1b3867;
          border-color: #1b3867;
        }
      }
    }
  }
}
