@import "./mobile.scss";

.lossmapping {
  width: 80%;
  margin: P(76) auto;
  height: auto;
  border: 1px solid #BDBDBD;
  border-radius: 4px;

  .lossmContainer {
    height: 80%;
    box-sizing: border-box;
    padding: 0 P(24);

    .titleContainer {
      line-height: P(52);
      padding-left: P(42);
      font-size: 18px;
      color: #040404;
    }

    table {
      line-height: P(45);
      font-size: P(20);
    }

    table td,
    th {
      padding-left: 10px;
      border: 1px solid #BDBDBD;
    }

    table tbody {
      overflow: auto;
    }

    .showTimeAndArea {
      float: right;
      width: P(144);
      line-height: P(38);
      text-align: center;
      vertical-align: middle;
      background: #e1e1e1;
      border-radius: 4px;
      z-index: 10;
      cursor: pointer;
    }

    .icon-drop-down2 {
      display: inline-block;
      color: #aaaaaa;
      font-weight: bold;
    }

    .rotate {
      transform: rotate(180deg);
    }
  }
}
