@import "./mobile.scss";
.lossmapping {
    .lossmappingContainer {
        display: flex;
        flex-direction: column;
        position: relative;
        .titleContainer {
            display: block;
            line-height: P(52);
            padding-left: P(42);
            font-size: P(18);
            border-bottom: 1px solid #bdbdbd;
        }
        .tableContainer {
            overflow-y: auto;
            height: 93%;
            .tableBody {
                width: 100%;
            }
            .tableBody tr {
                border-bottom: 1px solid #BDBDBD;
                line-height: 200px
            }
            .tableBody td {
                font-size: P(16);
                text-align: center;
            }
            .firstCol {
                width: 10%;
                border-right: 1px solid #BDBDBD;
            }
            .secordCol {
                width: 90%;
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }
    }
}