@import "./mobile.scss";
.overview {
    .overview_content {
        display: flex;
        flex-direction: column;
        position: relative;
        .overview_title {
            display: block;
            line-height: P(52);
            padding-left: P(42);
            font-size: P(18);
            border-bottom: 1px solid #bdbdbd;
        }
        .over_table {
            width: 100%;
            flex: 1;
            .table>tbody>tr>td {
                border-top: 0;
                border-left: 0;
                cursor: pointer;
            }
            .table {
                width: 100%;
                // height: 33.33%;
                margin-bottom: 0;
                .over_body {
                    width: 100%;
                    height: 100%;
                    tr {
                        width: 100%;
                        height: 33.33%;
                    }
                }
                .secordCol {
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    #oee {
                        width: 100%;
                        height: 100%;
                    }
                    #testCharts {
                        width: 100%;
                        height: 100%;
                    }
                }
                .item_td {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    border-right: 0;
                    // display: flex;
                    // flex-direction: column;
                    .item_top {
                        .item_table_title {
                            border-bottom: 1px solid #bdbdbd;
                            font-size: P(0);
                            .item_table_no {
                                line-height: P(38);
                                display: inline-block;
                                padding-left: P(40);
                                width: P(76);
                                font-size: P(16);
                            }
                            .item_table_value {
                                line-height: P(38);
                                display: inline-block;
                                padding-left: P(116);
                                font-size: P(24);
                            }
                        }
                        .item_table_detail {
                            width: 100%;
                            .item_table_de {
                                font-size: P(0);
                                border-bottom: 1px solid #bdbdbd;
                                display: flex;
                                align-items: center;
                                .item_img {
                                    box-sizing: border-box;
                                    padding-left: P(10);
                                    width: P(40);
                                    text-align: center;
                                    img {
                                        display: inline-block;
                                        vertical-align: middle;
                                    }
                                }
                                .item_table_deno {
                                    font-size: P(12);
                                    width: P(76);
                                    line-height: P(38);
                                }
                                .item_table_devalue {
                                    font-size: P(12);
                                    padding-left: P(76);
                                    line-height: P(38);
                                }
                            }
                            .item_table_empty {
                                border-bottom: 1px solid #bdbdbd;
                                .item_table_emptyData {
                                    width: 100%;
                                    line-height: P(152);
                                    display: inline-block;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .item_bottom {
                        flex: 1;
                        display: flex;
                        .top {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            .top_head {
                                line-height: P(38);
                                text-align: center;
                                border-bottom: 1px solid #bdbdbd;
                            }
                            .top_title {
                                .title_detail {
                                    float: left;
                                    text-align: center;
                                    width: 50%;
                                    line-height: P(38);
                                    border-right: 1px solid #bdbdbd;
                                    border-bottom: 1px solid #bdbdbd;
                                }
                                .title_detail:nth-child(n+2) {
                                    border-right: 0;
                                }
                            }
                            .top_detail {
                                width: 100%;
                                flex: 1;
                                .top_item {
                                    border-bottom: 1px solid #bdbdbd;
                                    width: 100%;
                                    display: flex;
                                    line-height: P(38);
                                    .item_no {
                                        width: 50%;
                                        display: inline-block;
                                        text-align: center;
                                        border-right: 1px solid #bdbdbd;
                                    }
                                    .item_value {
                                        flex: 1;
                                        display: inline-block;
                                        text-align: center;
                                    }
                                }
                                .top_item:last-child {
                                    border-bottom: 0;
                                }
                                .top_empty {
                                    .item_empty {
                                        width: 100%;
                                        line-height: P(114);
                                        display: inline-block;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        .top_left {
                            border-right: 1px solid #bdbdbd;
                        }
                    }
                }
            }
        }
    }
}