@import "./mobile.scss";
.perfTargetContainer {
    height: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    position: relative;
    .oeeContainer {
        height: 100%;
        float: left;
        border-right: 1px solid #e1e1e1;
        .oeeDashboard {
            margin: 0 auto;
            height: 50%;
        }
        .oeeTable {
            padding: 0 10%;
        }
    }
    .defectsContainer {
        height: 100%;
        float: left;
        border-right: 1px solid #e1e1e1;
        .defectsDashboard {
            margin: 0 auto;
            height: 50%;
        }
        .defectsTable {
            padding: 0 10%;
        }
    }
    .xxxContainer {
        height: 100%;
        float: left;
        .xxxDashboard {
            margin: 0 auto;
            height: 50%;
        }
        .xxxTable {
            padding: 0 10%;
        }
    }
    .showTimeAndArea {
        position: absolute;
        top: 0;
        right: 0;
        width: P(144);
        line-height: P(38);
        text-align: center;
        background: #e1e1e1;
        border-bottom-left-radius: 4px;
        z-index: 10;
        cursor: pointer;
        .icon-drop-down2 {
            display: inline-block;
            color: #aaaaaa;
            font-weight: bold;
            // transform: rotate(100deg);
        }
        .rotate {
            transform: rotate(180deg);
        }
    }
    .hidechoose {
        animation: hide 0.6s;
    }
    .showchoose {
        width: P(316);
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: #eeeeee;
        display: flex;
        flex-direction: column;
        animation: show 0.5s;
        .box {
            width: P(266);
            // height: auto;
            margin: P(66) auto;
            h1 {
                color: #131313;
                font-size: P(14);
                line-height: P(36);
                padding-left: P(18);
                border-bottom: 1px solid #b4b4b4;
                font-weight: bold;
            }
            .time {
                margin: P(18) auto;
                padding-left: P(18);
                display: flex;
                justify-content: space-between;
                span {
                    font-size: P(14);
                    line-height: P(22);
                    display: inline-block;
                }
                .cov-vue-date {
                    display: inline-block;
                }
            }
        }
        .chooseArea {
            flex: 1;
            padding-left: P(18);
            width: 100%;
            height: auto;
            margin: 0;
            display: flex;
            flex-direction: column;
            .area {
                padding-left: P(18);
                flex: 1;
                margin-top: P(14);
                width: 100%;
                height: auto;
                // border: 1px solid black;
                overflow-y: auto;
            }
        }
    }
    table {
        line-height: P(45);
        font-size: P(20);
    }
    table th {
        background: #dbe9ff;
        font-weight: bold;
    }
    table tr {
        border: 1px solid black;
    }
    table td,
    th {
        padding-left: 10px;
    }
}