@import "./mobile.scss";
.saving {
    .saving_content {
        position: relative;
        #saving_table {
            width: 90%;
            height: 55%;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            .pro_tip {
                width: 50%;
                height: P(30);
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                text-align: center;
                font-size: P(20);
                line-height: P(30);
            }
        }
    }
}
