@import "../styles/mobile.scss";
.summary {
    .summary_content {
        width: 100%;
        height: 100%;
        position: relative;
        .summary_box {
            width: 100%;
            height: 100%;
            .status_content {
                width: 100%;
                height: 50%;
                box-sizing: border-box;
                font-size: 0;
                .status_pro {
                    float: left;
                    width: 10%;
                    height: 100%;
                    font-size: P(14);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid #bdbdbd;
                }
                .status_echarts {
                    width: 52%;
                    float: left;
                    height: 100%;
                    box-sizing: border-box;
                    padding: P(42) P(94) P(42) P(46);
                    .charts_status {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        .pro_tip {
                            width: 50%;
                            height: P(30);
                            position: absolute;
                            margin: auto;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            top: 0;
                            text-align: center;
                            font-size: P(20);
                            line-height: P(30);
                        }
                    }
                }
                .status_detail {
                    float: left;
                    width: 38%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .status_li {
                        padding-left: P(10);
                        line-height: P(48);
                        border-bottom: 1px solid #bdbdbd;
                        display: flex;
                        justify-content: space-around;
                        .status_title {
                            font-size: 12px;
                        }
                        .item_detail {
                            font-size: 14px;
                            color: #040404;
                            padding-left: P(30);
                            border: none;
                            text-align: center;
                        }
                        .stage {
                            padding-left: P(110);
                        }
                    }
                    .status_li:last-child {
                        border-bottom: 0;
                    }
                }
            }
            .top {
                border-bottom: 1px solid #bdbdbd;
            }
        }
    }
}