@import "../styles/mobile.scss";
.summary {
    .summary_content {
        display: flex;
        flex-direction: column;
        position: relative;
        .summary_top {
            line-height: P(56);
            border-bottom: 1px solid #bdbdbd;
            a {
                font-size: P(14);
                display: inline-block;
                line-height: P(30);
                width: P(80);
                text-align: center;
                margin-left: P(28);
                background: #e1e1e1;
                border-radius: P(4);
                cursor: pointer;
                // .summary_title {
                //     margin-left: P(28);
                // }
            }
            .router-link-active {
                background: #164380;
                color: #fff;
            }
        }
        .summary_box {
            flex: 1;
            width: 100%;
            .status_content {
                width: 100%;
                height: 50%;
                box-sizing: border-box;
                padding: P(30) P(180) 0 P(50);
                display: flex;
                justify-content: space-around;
                align-items: center;
                .status_echarts {
                    width: 50%;
                    height: 100%;
                    display: inline-block;
                    display: flex;
                    flex-direction: column;
                    .status_pro {
                        display: inline-block;
                        font-size: 14px;
                        .status_pos {
                            color: #3065ab
                        }
                    }
                    #charts_status_top {
                        position: relative;
                        width: 100%;
                        flex: 1;
                    }
                    #charts_status_bottom {
                        position: relative;
                        width: 100%;
                        flex: 1;
                    }
                    #phaseCharts_top {
                        position: relative;
                        width: 100%;
                        flex: 1;
                    }
                    #phaseCharts_bottom {
                        position: relative;
                        width: 100%;
                        flex: 1;
                    }
                }
                .status_detail {
                    width: 35%;
                    .status_li {
                        padding-left: P(10);
                        line-height: P(48);
                        border-bottom: 1px solid #bdbdbd;
                        display: flex;
                        justify-content: space-around;
                        .status_title {
                            font-size: 12px;
                        }
                        .item_detail {
                            font-size: 14px;
                            color: #040404;
                            padding-left: P(30);
                            border: none;
                            text-align: center;
                        }
                    }
                    .status_li:last-child {
                        border-bottom: 0;
                    }
                }
            }
            .top {
                border-bottom: 1px solid #bdbdbd;
            }
        }
    }
}