@import "./mobile.scss";
#user {
    width: 100%;
    height: 100%;
    display: flex;
    #left-nav {
        width: 14.5%;
        height: 100%;
        background: #122b54;
        display: flex;
        flex-direction: column;
        .logo {
            width: 90%;
            margin: P(44) auto;
            margin-bottom: 0;
            img {
                width: 100%;
                margin: auto
            }
        }
        .nav-left {
            flex: 1;
            margin-top: P(100);
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            ul {
                width: 100%;
                overflow: hidden;
                a {
                    display: block;
                    line-height: P(70);
                    width: 100%;
                    box-sizing: border-box;
                    padding: 16px 0;
                    li {
                        overflow: hidden;
                        box-sizing: border-box;
                        padding-left: P(42);
                        width: 100%;
                        display: block;
                        color: #d5d7dc;
                        line-height: P(38);
                        font-size: P(22);
                        border-left: P(6) solid #122b54;
                    }
                }
                .router-link-active {
                    background: #164380;
                    li {
                        font-weight: bold;
                        border-left: P(6) solid #62e3ff;
                        color: #fff;
                    }
                }
            }
        }
    }
    #right-content {
        flex: 1;
        height: 100%;
        #user-con {
            width: 100%;
            height: 100%;
            #user-content {
                width: 100%;
                height: 100%;
                position: relative;
                .user_common {
                    width: 100%;
                    height: 98%;
                    box-sizing: border-box;
                    padding: P(85) 0 P(85) P(76);
                    .user_maincontent {
                        width: 95%;
                        height: 100%;
                        border: 1px solid #bdbdbd;
                        border-radius: P(4);
                        color: #040404;
                    }
                }
            }
        }
    }
}