    @import "./mobile.scss";
    .account {
        color: #040404;
        padding-left: P(136) !important;
        padding-top: P(80) !important;
        width: 94% !important;
        .account_content {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-around;
            border: none !important;
            .acommon {
                width: 100%;
                height: auto;
                h1 {
                    line-height: P(40);
                    border-bottom: 1px solid #bdbdbd;
                    font-weight: bold;
                    font-size: P(18);
                    box-sizing: border-box;
                    padding-left: P(2);
                }
                .info-content {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    .information {
                        display: inline-block;
                        width: 60%;
                        position: relative;
                        .tip {
                            line-height: P(60);
                            border-bottom: 1px solid #bdbdbd;
                            font-size: P(16);
                            box-sizing: border-box;
                            padding-left: P(2);
                            .bef {
                                display: inline-block;
                                width: P(118)
                            }
                        }
                        .pwd {
                            // clear: both;
                            position: relative;
                            overflow: visible;
                            input {
                                border: none;
                                color: #bdbdbd;
                            }
                            .img {
                                float: right;
                                padding-right: P(2);
                                img {
                                    height: P(24);
                                    width: P(24);
                                }
                                cursor: pointer;
                            }
                            .showbox {
                                position: absolute;
                                background: #ecf0f1;
                                z-index: 100;
                                right: P(30);
                                top: P(25);
                                width: P(480);
                                height: P(210);
                                font-size: P(14);
                                color: #040404;
                                span {
                                    padding-right: P(12);
                                }
                                .in {
                                    padding-left: P(12);
                                }
                                .oldpwd,
                                .newpwd {
                                    padding-left: P(44);
                                    line-height: P(36);
                                    .pwdtip {
                                        padding-left: P(12);
                                        color: #FF7437;
                                    }
                                }
                                .confirm_pwd {
                                    padding-left: P(30);
                                    line-height: P(36);
                                    margin-bottom: P(18);
                                    .pwdtip {
                                        padding-left: P(4);
                                        color: #FF7437;
                                    }
                                }
                                .oldpwd {
                                    margin-top: P(20);
                                }
                                .newpwd {
                                    margin: P(10) 0 P(10);
                                }
                                .pwdButton {
                                    width: P(54);
                                    line-height: P(22);
                                    border: none;
                                    font-size: P(14);
                                    color: #122b54;
                                    border: 1px solid #122b54;
                                    border-radius: P(11);
                                    cursor: pointer;
                                    text-align: center;
                                    display: block;
                                    padding-right: 0;
                                    float: right;
                                    margin-right: P(30);
                                }
                                .confirm {
                                    margin-right: P(9);
                                }
                                .cancel {
                                    color: #a2a2a2;
                                    border-color: #a2a2a2;
                                }
                            }
                        }
                    }
                    .area {
                        display: inline-block;
                        width: 35%;
                        height: auto;
                        border: 1px solid #bdbdbd;
                        border-radius: 2px;
                        margin-top: P(30);
                        box-sizing: border-box;
                        padding-left: P(22);
                        .title {
                            box-sizing: border-box;
                            padding-left: P(2);
                            line-height: P(40);
                            border-bottom: 1px solid #bdbdbd;
                            font-size: P(16);
                        }
                        .tree {
                            width: 100%;
                            height: P(240);
                            overflow-y: auto;
                            font-size: P(14);
                        }
                        .ztree li a.curSelectedNode {
                            background-color: #ecf0f1;
                        }
                    }
                }
            }
            .lan {
                margin-top: P(28);
                .info-content {
                    .laninfo {
                        width: 100%;
                        .wrap {
                            float: right;
                            height: P(72);
                            overflow: hidden;
                            padding-right: P(2);
                            .vue-switch[data-v-42a76ec8] {
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
            .tier2 {
                margin-top: P(63);
                .table {
                    margin-top: 12px;
                }
                .table>thead>tr>td {
                    line-height: P(44);
                    border-bottom: 1px solid #bdbdbd;
                }
                .table>tbody>tr>td {
                    line-height: P(44);
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid #bdbdbd;
                }
                .table>thead>tr>td:last-child,
                .tier2item {
                    padding-left: 18px;
                }
                .img_td {
                    height: 100%;
                    width: 100%;
                    .move_click {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        .move {
                            margin: P(4);
                            width: 12px;
                            height: 8px;
                        }
                    }
                }
            }
        }
    }