@import "./mobile.scss";
.account{
    margin: 0 auto;
    .oper{
        font-size: P(12);
        color: #FFF;
        span{
            display: inline-block;
            width: P(86);
            background: #122b54;
            line-height: P(26);
            border-radius: P(13);
            text-align: center;
            i{
                color: #ff6600;
                display: inline-block;
                line-height: P(26);
            }
        }
        .delA{
            margin-left: P(10);
        }
        
    }
}