@import "./mobile.scss";
.mainaccount {
    width: 80%;
    margin: P(42) auto;
    .oper {
        font-size: P(12);
        color: #FFF;
        .account_sapn {
            display: inline-block;
            width: 86px;
            background: #122b54;
            line-height: P(26);
            border-radius: P(13);
            text-align: center;
            i {
                color: #ff9c00;
                display: inline-block;
                line-height: P(26);
            }
        }
        .delA {
            margin-left: P(10);
        }
    }
    .table>thead:first-child>tr:first-child>td {
        border-top: 1px solid #bdbdbd;
    }
    #pager {
        .btn-default {
            color: #131313;
        }
        .active {
            color: #fff;
            background-color: #1b3867;
        }
    }
}