@import "./mobile.scss";
.page {
    width: 100%;
    height: 100%;
    background: url("./assets/images/timg.jpg") center;
    background-size: cover;
    position: relative;
    .login {
        width: 100%;
        height: 100%;
        .login-con {
            width: P(500);
            height: P(380);
            background: #f7f7f7;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            .title {
                width: 100%;
                background: #1b3867;
                color: #fff;
                text-align: center;
                font-size: P(16);
                img {
                    vertical-align: middle;
                    border: none;
                }
                span {
                    line-height: P(80);
                    display: inline-block;
                    // margin-left: P(4);
                }
            }
            .userinfo {
                width: P(300);
                height: auto;
                margin: P(30) auto;
                div {
                    margin-top: P(40);
                    border-bottom: 1px solid #d6d6d6;
                    line-height: P(26);
                    .iconfont {
                        display: inline-block;
                        font-size: P(18);
                        color: #1b3867;
                        line-height: P(26);
                    }
                    .icon-eye,
                    .icon-eye_x {
                        color: #7c7c7C;
                        float: right;
                    }
                    input {
                        width: 70%;
                        display: inline-block;
                        box-sizing: border-box;
                        line-height: P(26);
                        border: 0;
                        font-size: P(16);
                        caret-color: #1b3867;
                        padding-left: P(10);
                    }
                }
                .btn {
                    display: block;
                    width: P(300);
                    line-height: P(36);
                    border: none;
                    background: #bfbfbf;
                    color: #fff;
                    font-size: P(18);
                    font-weight: bold;
                    border-radius: P(2);
                }
                .hint {
                    border-bottom: none;
                    width: P(300);
                    line-height: P(24);
                    border-radius: P(12);
                    font-size: P(12);
                    color: #6b3612;
                    background: #fffbe7;
                    box-sizing: border-box;
                    padding-left: P(10);
                    border: 2px solid #fff5c3;
                    margin-top: P(10);
                    .icon-hint {
                        color: #ff9c00;
                        display: inline-block;
                        margin-top: P(4)
                    }
                    span {
                        display: inline-block;
                        box-sizing: border-box;
                        padding-left: P(4)
                    }
                }
            }
        }
        .foot {
            width: 100%;
            line-height: P(60);
            text-align: center;
            color: #929191;
            background: #d7dde3;
            position: absolute;
            bottom: 0;
            font-size: P(12)
        }
    }
}