@import "./mobile.scss";
#top{
    .top-con{
        color: #fff;
        width: 90%;    
        font-size: P(18);
        margin: 0 auto;
        .logo{
            float: left;
            img{
                display: inline-block;
                vertical-align: middle;
            }
            span{
                margin-left: P(4);
                margin-right: P(50);
                display: inline-block;
                line-height: P(80);
            }
        }
        .nav{
            float: left;
            li{
                float: left;
                margin-right: P(20);
                line-height: P(80);
                a{
                    color: #fff;
                    box-sizing: border-box;
                    padding-bottom: P(10);
                }
                .router-link-active{
                    border-bottom: P(2) solid #ff9c00;
                }
    
            }
        }
        .exit{
            float: right;
            line-height:P(40);
            select{
                color: black;
                display: inline-block;
                line-height: P(80);
            }
            i{
                display: inline-block;
                line-height:P(80);
            }
            a{
                color: #fff; 
                margin-left: P(30);
                line-height:P(80);
               
            }
        }
    }
    
}